.scene {
	position:	relative;
	width:	800px;
	height: 600px;
	margin: 50px auto;
	overflow:	hidden;
	background-image:	linear-gradient(to top, #006400, #008000);
}

.board {
	position:	absolute;
	width:	150px;
	height:	465px;
	bottom:	117px;
	right:	325px;
	background-image:	linear-gradient(to top, #191970, #191970);
}

.out {
	position:	relative;
	width:	15px;
	height:	15px;
	//background-image:	linear-gradient(to top, #C0C0C0, #C0C0C0);
	background-color:	#C0C0C0;
	margin-bottom:	15px;
	margin-top:	15px;
}

.right {
	right:	-150px;
}

.left {
	left:	-15px;
}
